:root {}

html,
body {
  width: 100%;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  max-width: 1060px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mainContainer {
  padding: 120px 0 60px;
}

.comm-section {
  padding: 60px 0;
  position: relative;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

/* header */
.header {
  .flex(space-between, center);
  padding: 16px 0;
}

/* header end */