@media all and (max-width:1600px) {
    .mainContainer {
        padding: 200px 0 40px;
    }

    .comm-section {
        padding: 48px 0;
    }

    // .img-animation {
    //     transform: translateY(-35%);
    // }

    // .cloud {
    //     img {
    //         height: 100%;
    //         width: 85%;
    //     }
    // }
}


@media all and (max-width:1440px) {
    .mainContainer {
        padding: 180px 0 40px;
    }

    .container {
        padding: 56px 64px;
    }

    .header {
        padding: 16px 64px;
    }

    .comm_h1 {
        font-size: 64px;
    }

    .comm_h3 {
        font-size: 36px;
    }

    .comm_h5 {
        font-size: 28px;
    }

    .banner_txt button {
        margin-top: 80px;
    }

    .service_whatWeDo h5 {
        flex: 1;
        margin-left: 150px;
    }

    .blog-wrap {
        margin: 0 100px;
    }

    .contact-padding {
        padding: 56px 200px;
        border-radius: 20px;
    }

}

@media all and (max-width:1366px) {
    // .img-animation {
    //     transform: translateY(-85%);
    // }

    .comm_h1 {
        font-size: 56px;
    }
}


@media all and (max-width:1200px) {
    .container {
        max-width: 960px;
    }

    .comm-section {
        padding: 40px;
    }

    .comm_h1 {
        font-size: 48px;
    }

    .comm_h3 {
        font-size: 28px;
    }

    .comm_h4 {
        font-size: 32px;
    }

    .banner_txt button {
        margin-top: 60px;
    }

    .banner_txt h3 {
        margin-bottom: 16px;
    }

    .service_section {
        padding: 48px 40px;
        margin-top: 32px;
    }

    .service_section h4 {
        margin-bottom: 16px;
    }

    .about_section {
        padding: 64px 80px;
    }

    .comm_h5 {
        font-size: 24px;
    }

    .service_whatWeDo h5 {
        flex: 1;
        margin-left: 100px;
    }

    .lets-talk-wrap {
        padding: 24px 0 40px;
    }

    .lets-talk-wrap h4 {
        margin: 24px 0 48px;
    }

    .blog-detail-wrap p {
        padding: 24px 160px;
    }

    .blog-detail-wrap p {
        padding: 16px 120px;
    }

    .contact-padding {
        padding: 56px 100px;
    }

    .header {
        max-width: 960px;
        padding: 12px 40px;
    }

    .banner_txt a {
        margin-top: 36px;
    }

    .banner_txt h1 {
        margin-bottom: 16px;
    }

    .blog-wrap-image{
        height: 350px;
    }
}

@media all and (max-width:1024px) {
    .comm_p {
        font-size: 16px;
    }
}

@media all and (max-width:990px) {
    :root {
        --form-field-height: 45px;
    }

    .mainContainer {
        padding: 160px 0 41px;
    }

    .container {
        max-width: 800px;
    }

    .button {
        font-size: 14px;
        height: 45px;
        line-height: 45px;
    }

    .comm_h1 {
        font-size: 40px;
    }

    .comm_h2 {
        font-size: 40px;
    }

    .comm_h3 {
        font-size: 24px;
    }

    .comm_p {
        font-size: 16px;
        line-height: 1.5;
    }

    .service_section h2 {
        margin-bottom: 48px;
    }

    .service_section {
        padding: 36px 28px;

        .w60 {
            width: 50%;

        }

        .w40 {
            width: 50%;
        }
    }

    .about_section {
        padding: 36px 40px;
    }

    .service_whatWeDo h5 {
        flex: 1;
        margin-left: 40px;
    }

    .work-wrap {
        padding: 0 24px 0;

    }

    .work-image-wrap {
        margin-bottom: 0;

        img {
            width: 65%;
        }
    }

    .lets-talk-wrap h4 {
        margin: 24px 0 36px;
        padding: 0 16px;
    }

    .blog-text p {
        margin: 16px 0 36px;
    }

    .blog-image {
        height: 250px;
    }

    .blog-detail-wrap .blog-wrap {
        border: none;
        padding: 0;
        margin: 36px 100px;
    }

    .form-grp,
    .form-textarea-group {
        margin-bottom: 16px;
    }

    .header {
        max-width: 800px;
        padding: 12px 40px;
    }

    .about-image-wrap img {
        margin: 40px 0;
    }
    .blog-wrap-image {
        height: 270px;
    }
    
    
}

@media all and (max-width:768px) {
    .container {
        max-width: 100%;
    }

    .mainContainer {
        padding: 120px 0 41px;
    }

    .comm_h1 {
        font-size: 48px;
    }

    .comm_h3 {
        font-size: 21px;
    }

    .banner_txt button {
        margin-top: 48px;
    }

    .comm-section {
        padding: 40px 48px;
    }

    .banner_txt {
        width: 75%;
        margin-right: auto;
    }

    .anim-wrap-home {
        position: relative;
        transform: translateY(0%);
        width: 120%;
        right: 40px;
    }

    .service_section {
        padding: 36px 28px;

        .w60 {
            width: 100%;

            img {
                padding: 0 64px 24px;
                width: 100%;
            }
        }

        .w40 {
            width: 100%;
        }

        .f-row {
            &:nth-child(odd) {
                flex-direction: column-reverse;
            }
        }
    }

    .pt80 {
        padding-top: 0;
    }

    .comm_h5 {
        font-size: 24px;
    }

    .about_section img {
        width: 100%;
    }

    .service_whatWeDo {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 0;

        h5 {
            margin-left: 0;
        }
    }

    .service_section {
        .service-we-do {
            flex-direction: column !important;
        }
    }

    .blog-wrap {
        margin: 0 50px;
    }

    .blog-text .calender {
        margin: 24px 0 16px;
    }

    .blog-detail-wrap .blog-wrap {
        margin: 36px 50px;
    }

    .blog-detail-image {
        padding: 0 50px;
    }

    .blog-detail-wrap p {
        padding: 16px 80px;
    }

    .about_grid {
        .f-row {
            &:nth-child(2) {
                flex-direction: column-reverse;
            }
        }
    }

    .service_section {
        .cloud3 {
            left: -8%;
        }

        .ser {
            height: 28%;
            width: 28%;

            &-1 {
                left: -23%;
                top: 20%;
                height: 22%;
                width: 22%;
            }

            &-2 {
                left: 24%;
                top: 16%;
            }

            &-3 {
                left: -25%;
                top: 67%;
            }

            &-4 {
                left: 29%;
                top: 69%;
            }

        }
    }


    .menu {
        li {
            display: none;
        }

        .menuBtn {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .side-menu {
            position: relative;
            z-index: 5000000;
            display: block;
            margin-left: 16px;
        }
    }



    .who-we-are-anim {
        position: relative;

        img {
            position: absolute;
            height: 30%;
            width: 30%;
            object-fit: contain;
        }

        .main-back {
            position: relative;
            height: 100%;
            width: 65%;
        }

        .cloud2 {
            height: 30%;
            width: 30%;
            top: 13%;
            left: 37%;
            animation: cloud2 3s infinite;
        }

        .box2-1 {
            height: 20%;
            width: 20%;
            top: 21%;
            left: 14%;
            animation: box21 3s infinite;

        }

        .box2-2 {
            height: 20%;
            width: 20%;
            top: 74%;
            left: 79%;
            animation: box22 3s infinite;

        }

        .square1 {
            height: 10%;
            width: 10%;
            top: 37%;
            left: 28%;
            animation: square1 3s infinite;

        }

        .square2 {
            height: 10%;
            width: 10%;
            top: 69%;
            left: 69%;
            animation: square2 3s infinite;
        }

        .marker {
            height: 8%;
            width: 8%;
            top: 50%;
        }
    }

    @keyframes square1 {

        0%,
        100% {
            transform: scale(1.5);
        }

        25%,
        75% {
            transform: scale(1.5);
        }

        50% {
            transform: scale(0.6);
        }
    }

    @keyframes square2 {

        0%,
        100% {
            transform: scale(1.5);
            top: 70%;
            left: 69%;
        }

        25%,
        75% {
            transform: scale(1.5);
        }

        50% {
            transform: scale(0.6);
        }
    }

    @keyframes cloud2 {

        0%,
        100% {
            top: 3%;
        }

        25%,
        75% {
            top: 13%;
        }

        50% {
            top: 10%;
        }
    }

    @keyframes box21 {

        0%,
        100% {
            top: 21%;
            left: 14%;
        }

        25%,
        75% {
            top: 28%;
            left: 25%;
        }

        50% {
            top: 28%;
        }
    }

    @keyframes box22 {

        0%,
        100% {
            height: 20%;
            width: 20%;
        }

        25%,
        75% {
            top: 61%;
            left: 66%;
        }

        50% {
            top: 61%;
        }
    }

    .who-we-are-anim .main-back {
        width: 100%;
    }

    .about_section p {
        padding: 0 0px;
    }

    .logo-ct {
        width: 120px;
    }

    .home_blog_section a.button {
        margin-top: 48px;
    }


    .menuBtn {
        .line {
            display: none;
        }
    }

    .blog-wrap-image {
        height: 230px;
    }
}

@media all and (max-width:640px) {
    :root {
        --menuWidth: 75%;
    }

    .comm-section {
        padding: 24px 32px;
    }

    .comm_h1 {
        font-size: 40px;
    }

    .comm_h2 {
        font-size: 36px;
    }

    .comm_h4 {
        font-size: 28px;
    }

    .service_section .w60 img {
        padding: 0 0px 24px;
    }

    .service_section h2 {
        margin-bottom: 36px;
    }

    .banner_txt {
        width: 100%;
        margin-right: auto;
    }

    .banner_txt button {
        margin-top: 40px;
    }

    .anim-wrap-home {
        transform: translateY(10%);
    }

    .comm_h5 {
        font-size: 21px;
    }

    .home_blog_section {
        .f-col {
            margin-bottom: 36px;
        }
    }

    .blog-wrap {
        margin: 0 0px;
    }

    .blog-image {
        width: 100%;
        height: 180px;
    }

    .blog-detail-wrap .blog-wrap {
        margin: 24px 0px;
    }

    .blog-detail-image {
        padding: 0 0px;
    }

    .blog-detail-wrap p {
        padding: 16px 40px;
    }

    .contact-padding {
        padding: 56px 50px;
    }

    .service_section {
        margin-top: 0;
    }

    .service_section {
        .cloud3 {
            left: -13%;
        }
    }
    .blog-wrap-image {
        height: 350px;
    }



}

@media all and (max-width:576px) {
    .service_section .w60 img {
        padding: 0 24px 24px;
    }

    .service_section h2 {
        margin-bottom: 28px;
    }

    .blog-detail-wrap p {
        padding: 16px 0px;
    }

    .footer .sitemap li a {
        padding: 5px 16px;
    }

    .mobile-menu .header-rig li a {
        font-size: 32px;
    }

    .anim-wrap-home {
        width: 140%;
    }

    .logo-ct {
        display: block;
        width: 100px;
    }

    .menu li {
        margin-left: 24px;
    }
}

@media all and (max-width:480px) {
    .comm_h3 {
        font-size: 20px;
    }

    .banner_txt h3 {
        margin-bottom: 8px;
    }

    .comm_p {
        font-size: 14px;
    }

    .comm_h4 {
        font-size: 24px;
    }

    .comm_h2 {
        font-size: 32px;
    }

    .comm_h1 {
        font-size: 36px;
    }

    .about_section {
        padding: 36px 24px;
    }

    .contact-padding {
        padding: 24px;
    }

    .mobile-menu {
        padding: 64px 48px 0;
    }
    .about-image-wrap img {
        margin: 30px 0;
    }
    .blog-wrap-image {
        height: 280px;
    }

}

@media all and (max-width:400px) {
    .comm-section {
        padding: 24px 28px;
    }

    .mobile-menu {
        padding: 64px 36px 0;
    }
    .blog-wrap-image {
        height: 230px;
    }
}

@media all and (max-width:359px) {
    .comm_h1 {
        font-size: 32px;
    }
    .blog-wrap-image {
        height: 180px;
    }
}